html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-style: normal;
	/* font-family: "Lato", sans-serif; */
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
}

.main {
	background-color: rgb(172, 143, 106);
	padding-bottom: 99px;
}

.header .container {
	background-color: red;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 71px;
}

ul {
	display: flex;
	justify-content: center;
	gap: 24px;
	color: #FFFFFF;
	line-height: 14px;
	letter-spacing: 1.3px;
	font-size: 11px;
	text-transform: uppercase;
	margin-top: 40px;
}

li:hover {
	border-bottom-color: rgba(255, 255, 255, 0.3);
}

li {
	padding-bottom: 14px;
	border-bottom: 2px solid transparent;
}


.block .container {
	max-width: 800px;
	margin: 0 auto;
}

.post-bottom {
	background-color: #FFFFFF;
	padding: 35px 60px;
}

.post-banner {
	position: absolute;
	bottom: 40px;
	left: 60px;
}

.post-top {
	position: relative;
}


.post-top h2 {
	line-height: 35px;
	font-size: 28px;
	color: #FFFFFF;
	max-width: 503px;
}

.post-info-text p:first-child {
	font-size: 18px;
	line-height: 19px;
	color: #FFFFFF;
}

.post-info-text p:last-child {
	font-size: 13px;
	line-height: 19px;
	color: #FFFFFF;
	font-family: "Lato", sans-serif;
}

.post-info {
	display: flex;
	gap: 14px;
	margin-bottom: 20px;
}

.post-info img {
	border-radius: 4px;

}

.post-bottom p {
	font-family: "Lato", sans-serif;
	font-size: 18px;
	line-height: 25px;
	color: #333333;
}

.post-bottom a {
	font-family: "Lato", sans-serif;
	font-size: 17px;
	line-height: 30px;
	color: #8D4FDB;
}

.read-more {
	background-color: #F1F1F1;
	text-align: center;
	padding-top: 49px;
	padding-bottom: 60px;
}

.read-more p {
	font-size: 30px;
	line-height: 36px;
	color: #333333;
}

.read-more a {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 30px;
	letter-spacing: 1px;
	background-color: #8D4FDB;
	padding: 8px 25px;
	border-radius: 3px;
	display: inline-block;
	margin-top: 21px;
}

.post-top img {
	display: block;
}

.post-bottom a:hover {
	color: #7442b3;
}

.read-more a:hover {
	color: #c4c4c4;
}

